/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table-bordered {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.spacer td {
    --bs-table-bg: transparent !important;
  }

.table-success{
    --bs-table-bg: #cde5d756 !important;
}

tr{
    line-height: 60px;
}

.heigh-form-control
{
    line-height: 60px;
}

td,th{
    text-align: center;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-disabled.mat-button-toggle-checked {
    background-color: #003459 !important;
    color: white !important;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-disabled .mat-pseudo-checkbox {
    color: white !important;
}

.mat-mdc-unelevated-button:not(:disabled) {
    background-color: #003459 !important;
}

label
{
    font-weight: bold;
    width: 30%;
}

.form-control-text
{
    width: 70%;
    display: inline-block;
}

.menu
{
    display: inline-block;
    width: 7%;
    height: 100%;
    float: left;
    background: #EEEEEE;
}

.cuerpo{
    display: inline-block;
    width: 91%;
    margin-left: 1%;
}

.nav-item{
    font-size: xx-small !important;
    text-align: center;
}

